In [2]:
import pandas as pd
df= pd.read_csv("hepatitis_1 (1).csv")
df.head()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live

In [4]:
df.dtypes

age                  int64
sex                 object
steroid             object
antivirals            bool
fatigue             object
malaise             object
anorexia            object
liver_big           object
liver_firm          object
spleen_palpable     object
spiders             object
ascites             object
varices             object
bilirubin          float64
alk_phosphate      float64
sgot               float64
albumin            float64
protime            float64
histology             bool
class               object
dtype: object

In [ ]:
# I needed to check the type of data that i have in order to know what to clean

In [5]:
df.describe()

,age,bilirubin,alk_phosphate,sgot,albumin,protime
count,155.000000,149.000000,126.000000,151.00000,139.000000,88.000000
mean,41.200000,1.427517,105.325397,85.89404,3.817266,61.852273
std,12.565878,1.212149,51.508109,89.65089,0.651523,22.875244
min,7.000000,0.300000,26.000000,14.00000,2.100000,0.000000
25%,32.000000,0.700000,74.250000,31.50000,3.400000,46.000000
50%,39.000000,1.000000,85.000000,58.00000,4.000000,61.000000
75%,50.000000,1.500000,132.250000,100.50000,4.200000,76.250000
max,78.000000,8.000000,295.000000,648.00000,6.400000,100.000000

In [ ]:
# I needed to know the statistics so that i can determine what to fill my cacant space with.

In [6]:
import statistics as stats

In [7]:
df["alk_phosphate"].median() # to get the median so that i can fill alk_phosphate column with the media in order to have less error.

85.0

In [8]:
df["alk_phosphate"].fillna(85.0, inplace=True) # i am filling the missing values of alk_phosphate with the median. i chose median because it is more commom and more accurate.Mean looked more out of line wth a value of 105, the outliner may have huge effect on the mean value. .   
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,85.0,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,85.0,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [9]:
df["protime"].median()

61.0

In [10]:
df["protime"].fillna(61.0, inplace=True)  # i can actually use either mean or median because they arent much difference, i only used median here because it is more common. 
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,61.0,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,61.0,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,61.0,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,85.0,200.0,4.0,61.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,85.0,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,61.0,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,61.0,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [12]:
df.isnull().sum() # i did this to check the columns with missing values so that i can know how to clean it.

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate       0
sgot                4
albumin            16
protime             0
histology           0
class               0
dtype: int64

In [13]:
df["albumin"].median() #just to obtain the median values on the albumin column to fill up the missing values.

4.0

In [14]:
df["albumin"].fillna(4.0, inplace=True) 
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,61.0,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,61.0,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,61.0,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,85.0,200.0,4.0,61.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,85.0,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,61.0,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,61.0,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [15]:
df["sgot"].median() #just to obtain the median values on the albumin column to fill up the missing values.

58.0

In [16]:
df["sgot"].fillna(58.0, inplace=True) 
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,61.0,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,61.0,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,61.0,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,85.0,200.0,4.0,61.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,85.0,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,61.0,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,61.0,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [17]:
df["bilirubin"].median() #just to obtain the median values on the albumin column to fill up the missing values.

1.0

In [18]:
df["sgot"].fillna(1.0, inplace=True) 
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,61.0,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,61.0,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,61.0,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,85.0,200.0,4.0,61.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,85.0,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,61.0,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,61.0,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [19]:
df.isnull().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate       0
sgot                0
albumin             0
protime             0
histology           0
class               0
dtype: int64

In [23]:
df.dropna( inplace=True)  # I  dropped the rest of the empty columns as it is a boolean and i cant fill it with any value in order not to mess the data up.  
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,61.0,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,61.0,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,61.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,85.0,200.0,4.0,61.0,False,live
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,85.0,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,61.0,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,61.0,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [24]:
df.isnull().sum()

age                0
sex                0
steroid            0
antivirals         0
fatigue            0
malaise            0
anorexia           0
liver_big          0
liver_firm         0
spleen_palpable    0
spiders            0
ascites            0
varices            0
bilirubin          0
alk_phosphate      0
sgot               0
albumin            0
protime            0
histology          0
class              0
dtype: int64

In [25]:
df # now my data has 138 rows and still 20 columns. my rows are big enough to obtain vital informations needed for my analysis.

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,61.0,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,61.0,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,61.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,85.0,200.0,4.0,61.0,False,live
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,85.0,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,61.0,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,61.0,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [28]:
df["steroid"]= df["steroid"].astype(int)
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,0,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,61.0,False,live
1,50,female,0,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,61.0,False,live
2,78,female,1,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,61.0,False,live
4,34,female,1,False,False,False,False,True,False,False,False,False,False,1.0,85.0,200.0,4.0,61.0,False,live
5,34,female,1,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,1,False,True,True,True,True,False,False,True,True,True,7.6,85.0,242.0,3.3,50.0,True,die
151,44,female,1,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,61.0,True,live
152,61,female,0,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,61.0,True,live
153,53,male,0,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,1,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [30]:
df["antivirals"]= df["antivirals"].astype(int)
df["fatigue"]= df["fatigue"].astype(int)
df["malaise"]= df["malaise"].astype(int)
df["anorexia"]= df["anorexia"].astype(int)
df["liver_big"]= df["liver_big"].astype(int)
df["liver_firm"]= df["liver_firm"].astype(int)
df["spleen_palpable"]= df["spleen_palpable"].astype(int)
df["spiders"]= df["spiders"].astype(int)
df["ascites"]= df["ascites"].astype(int)
df["varices"]= df["varices"].astype(int)
df["histology"]= df["histology"].astype(int)
df
# i changed all my booleans to int so that visulaization can be easier and more accurate

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,0,0,0,0,0,0,0,0,0,0,0,1.0,85.0,18.0,4.0,61.0,0,live
1,50,female,0,0,1,0,0,0,0,0,0,0,0,0.9,135.0,42.0,3.5,61.0,0,live
2,78,female,1,0,1,0,0,1,0,0,0,0,0,0.7,96.0,32.0,4.0,61.0,0,live
4,34,female,1,0,0,0,0,1,0,0,0,0,0,1.0,85.0,200.0,4.0,61.0,0,live
5,34,female,1,0,0,0,0,1,0,0,0,0,0,0.9,95.0,28.0,4.0,75.0,0,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,1,0,1,1,1,1,0,0,1,1,1,7.6,85.0,242.0,3.3,50.0,1,die
151,44,female,1,0,1,0,0,1,1,0,0,0,0,0.9,126.0,142.0,4.3,61.0,1,live
152,61,female,0,0,1,1,0,0,1,0,1,0,0,0.8,75.0,20.0,4.1,61.0,1,live
153,53,male,0,0,1,0,0,1,0,1,1,0,1,1.5,81.0,19.0,4.1,48.0,1,live
154,43,female,1,0,1,0,0,1,0,1,1,1,0,1.2,100.0,19.0,3.1,42.0,1,die

In [31]:
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,0,0,0,0,0,0,0,0,0,0,0,1.0,85.0,18.0,4.0,61.0,0,live
1,50,female,0,0,1,0,0,0,0,0,0,0,0,0.9,135.0,42.0,3.5,61.0,0,live
2,78,female,1,0,1,0,0,1,0,0,0,0,0,0.7,96.0,32.0,4.0,61.0,0,live
4,34,female,1,0,0,0,0,1,0,0,0,0,0,1.0,85.0,200.0,4.0,61.0,0,live
5,34,female,1,0,0,0,0,1,0,0,0,0,0,0.9,95.0,28.0,4.0,75.0,0,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,1,0,1,1,1,1,0,0,1,1,1,7.6,85.0,242.0,3.3,50.0,1,die
151,44,female,1,0,1,0,0,1,1,0,0,0,0,0.9,126.0,142.0,4.3,61.0,1,live
152,61,female,0,0,1,1,0,0,1,0,1,0,0,0.8,75.0,20.0,4.1,61.0,1,live
153,53,male,0,0,1,0,0,1,0,1,1,0,1,1.5,81.0,19.0,4.1,48.0,1,live
154,43,female,1,0,1,0,0,1,0,1,1,1,0,1.2,100.0,19.0,3.1,42.0,1,die

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 0 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              138 non-null    int64
 1   sex              138 non-null    object
 2   steroid          138 non-null    int32
 3   antivirals       138 non-null    int32
 4   fatigue          138 non-null    int32
 5   malaise          138 non-null    int32
 6   anorexia         138 non-null    int32
 7   liver_big        138 non-null    int32
 8   liver_firm       138 non-null    int32
 9   spleen_palpable  138 non-null    int32
 10  spiders          138 non-null    int32
 11  ascites          138 non-null    int32
 12  varices          138 non-null    int32
 13  bilirubin        138 non-null    float64
 14  alk_phosphate    138 non-null    float64
 15  sgot             138 non-null    float64
 16  albumin          138 non-null    float64
 17  protime          138 non-null    float64
 18  histology        138 non-null    int32
 19  class            138 non-null    object
dtypes: float64(5), int32(12), int64(1), object(2)
memory usage: 16.2+ KB